@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap');

*{
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.025em !important;
  scroll-behavior: smooth !important;
  overflow-x: hidden;
}


@tailwind base;
@tailwind components;
@tailwind utilities;
/* body{
  background-image: url('https://i.ibb.co/Khz54dJ/tyler-casey-bs-Jc2kf4ds-unsplash.jpg');
  background-repeat: no-repeat;
  background-size: cover;
} */


